<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wxcms.mapper.StudentDao">

	<select id="listClassStudent" resultType="com.wxcms.domain.Student">   <!-- parameterType="java.lang.String" -->
		 SELECT * FROM t_wxcms_student WHERE CLASSID = #{classId} ORDER BY ID LIMIT #{param2.start} , #{param2.pageSize}
	</select>

	<select id="getTotalCount" parameterType="com.wxcms.domain.Student" resultType="java.lang.Integer">
		SELECT count(id) FROM t_wxcms_student 
	</select>
	
	<select id="getLastOpenId" resultType="com.wxcms.domain.Student">
		SELECT * FROM t_wxcms_student 
		ORDER BY ID DESC
		LIMIT 0 , 1
	</select>

	<select id="paginationStudent" resultType="com.wxcms.domain.Student">
		SELECT * FROM t_wxcms_student 
		ORDER BY ID 
		LIMIT #{param2.start} , #{param2.pageSize}
	</select>
	
	<select id="getCountByClass" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT count(id) FROM t_wxcms_student WHERE CLASSID = #{classId}
	</select>

	<select id="getByStudentId" parameterType="java.lang.String" resultType="com.wxcms.domain.Student">
		SELECT * FROM t_wxcms_student WHERE StudentId = #{studentId}
	</select>
	
	<select id="getByOpenId" parameterType="java.lang.String" resultType="com.wxcms.domain.Student">
		SELECT * FROM t_wxcms_student WHERE OPENID = #{openId}
	</select>

	<insert id="add" parameterType="com.wxcms.domain.Student" flushCache="true"  useGeneratedKeys="true" keyProperty="id"  >
		<![CDATA[ 
		INSERT INTO t_wxcms_student ( ID,NAME,OPENID,STUDENTID,CLASSID )  VALUES ( #{id},#{name},#{openId},#{studentId},#{classId} ) 
		 ]]>
	</insert>
	
	<insert id="addList" parameterType="list">  
        INSERT INTO t_wxcms_student ( ID,NAME,OPENID,STUDENTID,CLASSID )
        VALUES
        <foreach  collection="list" item="item" index="index" separator="," >  
        	<![CDATA[
            ( #{item.id},#{item.name},#{item.openId},#{item.studentId},#{item.classId} ) 
        	 ]]>
        </foreach> 
    </insert>
	
	<update id="update" parameterType="com.wxcms.domain.Student" flushCache="true">
		UPDATE t_wxcms_student SET NAME = #{name},OPENID = #{openId},STUDENTID = #{studentId},CLASSID = #{classId} WHERE ID = #{id} 
	</update>

	<delete id="delete" parameterType="com.wxcms.domain.Student" >
		DELETE FROM t_wxcms_student WHERE ID = #{id}
	</delete>
	
	<delete id="deleteByOpenId" parameterType="java.lang.String" >
		DELETE FROM t_wxcms_student WHERE OPENID = #{openId}
	</delete>

</mapper>
